<div id='explorer'>
  <h3>You are carrying</h3>
  <% if explorer.items.count > 0 %>

    <table class='table'>
      <% explorer.items.each do |item| %>
        <tr>
          <td>
            <%= all_items[item].full_name %>
          </td>
          <td>
            <button id='<%= item %>'
                    class='btn btn-primary'
                    onclick='drop("<%= item %>")'>
              drop
            </button>
          </td>
        </tr>
      <% end %>
    </table>
    
  <% else %>
    <h3>nothing</h3>
  <% end %>
</div>
