<div id='exits'>
  <h3>Exits are</h3>

  <div id='compass'>
    <div class='row'>
      <div class='col-xs-4'></div>
      <div class='col-xs-4'>
        <%= direction_button @room, 'N' %>
      </div>
      <div class='col-xs-4'></div>
    </div>
    <div class='row'>
      <div class='col-xs-4'>
        <%= direction_button @room, 'W' %>
      </div>
      <div class='col-xs-4'></div>
      <div class='col-xs-4'>
        <%= direction_button @room, 'E' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-4'></div>
      <div class='col-xs-4'>
        <%= direction_button @room, 'S' %>
      </div>
      <div class='col-xs-4'></div>
    </div>
  </div>
</div>
