<div id='items'>
  <h3>You can see</h3>

  <% if @room.items.count > 0 %>

    <table class='table'>
      <% @room.items.each do |item| %>
        <tr>
          <td>
            <%= all_items[item].full_name %>
          </td>
          <td>
            <% if all_items[item].carriable %>
              <button id='<%= item %>'
                      class='btn btn-primary'
                      onclick='take("<%= item %>")'>
                pick up
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <h3>nothing</h3>
  <% end %>
</div>
