
@import 'variables';
@import 'fonts';
@import 'colours';
@import 'bootstrap';
@import 'footer';
@import 'nav';
@import 'github-corner';

body {
  color: $brand-primary;
  word-spacing: 1em;
  font-family: $font-primary;
  padding-top: $padding-large-vertical;
}

li {
  list-style: none;
  padding: $padding-small-vertical;
}

h1 {
  font-size: 1.5em;
  color: $brand-primary;
}

h2 {
  font-size: 1.2em;
  color: $brand-secondary-1;
}

h3 {
  font-size: 1em;
  color: $brand-secondary-2;
}

.btn {
  font-size: 0.8em;
  word-spacing: 1em;
}

#items, #explorer, #exits {
  padding: $padding-large-vertical;
  margin: $padding-small-vertical;
  border-radius: 10px;
}

#exits {
  background-color: $rgba-complement-3;
}

#explorer {
  background-color: $rgba-secondary-2-1;
}

#items {
  background-color: $rgba-secondary-1-2;
}

#compass {
  width: 100%;
  text-align: center;
  div > div {
    text-align: center;
  }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
