<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body>
    <%= erb :'includes/github-corner' if @github_url %>
    <div class='container'>
      <h1>Quest for the Lunar Sword</h1>
      <hr />
      <%= yield %>
    </div>
    <%= erb :'includes/footer' %>
  </body>
</html>
